In [1]:
import subprocess
import os

import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup
from datetime import datetime
import json

In [2]:
def get_johns_hopkins():
    git_pull = subprocess.Popen(r"/usr/bin/git pull",
                                cwd = os.path.dirname(r'C:\Windows\System32\applied_data_science_-_covid-19\data\raw\COVID-19'),
                                shell = True,
                                stderr=subprocess.PIPE,
                                stdout=subprocess.PIPE)
    
(out, error) = git_pull.communicate()


print("Error : " + str(error))
print("out : " + str(out))

NameError: name 'git_pull' is not defined

In [3]:
import pandas as pd

pd.set_option('display.max_rows', 10000)

In [4]:
data_path = r'C:\Windows\System32\applied_data_science_-_covid-19\data\raw\COVID-19\csse_covid_19_data\csse_covid_19_time_series\time_series_covid19_confirmed_global.csv'

pd_raw = pd.read_csv(data_path)

In [5]:
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/4/20,9/5/20,9/6/20,9/7/20,9/8/20,9/9/20,9/10/20,9/11/20,9/12/20,9/13/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,38304,38324,38398,38494,38520,38544,38572,38606,38641,38716
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,9967,10102,10255,10406,10553,10704,10860,11021,11185,11353
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,45773,46071,46364,46653,46938,47216,47488,47752,48007,48254
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1215,1215,1215,1261,1261,1301,1301,1344,1344,1344
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,2876,2935,2965,2981,3033,3092,3217,3279,3335,3388

In [6]:
pd_raw.columns[4:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '9/4/20', '9/5/20', '9/6/20', '9/7/20', '9/8/20', '9/9/20', '9/10/20',
       '9/11/20', '9/12/20', '9/13/20'],
      dtype='object', length=236)